@model CooksAndBakes.Web.ViewModels.Recipes.AllRecipesViewModel

@{ 
    this.ViewData["Title"] = "Recipes Catalog";
}

@await Component.InvokeAsync("MenuNavBar")

<div class=" recipe-area somePadding">
    <div class="container">
        <div class="row">
            @foreach (var recipe in Model.Recipes)
            {
                <div class="col-xl-4 col-lg-4 col-md-6 mt-4">
                    <div id="delete-content">
                        <a href="#" id="delete-recipe-button" onclick="addR('@recipe.RecipeId')">
                            <i class="fas fa-plus-square" style="color:black"></i>
                        </a>
                    </div>
                    <div class="single-recipe text-center">
                        <div class="recipe-thumb">
                            <img alt="" src="@recipe.ImageUrl">
                        </div>
                        @if (recipe.Title.Length > 16)
                        {
                            
                            <h3 class="recipe-name-style">@(recipe.Title.Substring(0,16)+"...")</h3>
                        }
                        else
                        {
                            <h3 class="recipe-name-style">@recipe.Title</h3>
                        }
                        <span>@recipe.CategoryName</span>
                        <p class="complexity">
                            @if (recipe.Level == 1)
                            {
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" />
                                <img src="~/images/chef.png" />
                                <img src="~/images/chef.png" />
                                <img src="~/images/chef.png" />
                            }
                            else if (recipe.Level == 2)
                            {
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" />
                                <img src="~/images/chef.png" />
                                <img src="~/images/chef.png" />
                            }
                            else if (recipe.Level == 3)
                            {
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" />
                                <img src="~/images/chef.png" />
                            }
                            else if (recipe.Level == 4)
                            {
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" />
                            }
                            else if (recipe.Level == 5)
                            {
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                            }
                        </p>
                        <a class="fullrecipe-button" href="/Recipes/ById?recipeId=@recipe.RecipeId ">View Full Recipe</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function addR(recipeId){
            var json = { recipeId: recipeId };
            $.ajax({
                url: "/api/add",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    Swal.fire(data.result);
                }
            });
        };

        $('#delete-recipe-button').on('click', function (event) {
            event.preventDefault()
        });
    </script>
}
